# Debug properties for Dynatrace Cloud Function
debug:
  # if true will print full MINT ingest input. Allowed values: true/yes, false/no
  printMetricIngestInput: false
googleCloud:
  required:
    # The GCP project ID where Dynatrace function should be deployed to
    # With this command you can get list of your projects:
    # gcloud projects list --format="value(project_id)"
    gcpProjectId: <PLACEHOLDER>
    # Dynatrace Tenant URL, example: https://mytenant.live.dynatrace.com/
    dynatraceTenantUrl: <PLACEHOLDER>
    # Dynatrace API Token (see docs for list of required permissions)
    dynatraceApiToken: <PLACEHOLDER>
    # Size of function (only needed for installation, not used for updates):
    # s - small, up to 500 instances, 256 MB memory allocated to function
    # m - medium, up to 1000 instances, 512 MB memory allocated to function
    # l - large, up to 5000 instances, 2048 MB memory allocated to function
    cloudFunctionSize: s
    # Region for Cloud Function
    cloudFunctionRegion: us-east1
    # Preferred App Engine Region
    # The Function uses Cloud Scheduler which requires App Engine. If you don't have App Engine installed, script will create it in preferred region
    # If running App Engine is found, new one will not be created
    # Note: europe-west1 and us-central1 have different naming in AppEngine: europe-west and us-central (other regions are normal, like us-east1)
    preferredAppEngineRegion: us-east1
  common:
    # Name of Google Secret Manager Secret containing Dynatrace URL
    dynatraceUrlSecretName: DYNATRACE_URL_SECRET
    # Name of Google Secret Manager Secret containing Dynatrace Access Key
    dynatraceAccessKeySecretName: DYNATRACE_ACCESS_KEY_SECRET
    # Name of the Service Account that should be created for Dynatrace Function to authenticate with Google Monitoring API 
    serviceAccount: dynatrace-gcp-service-custom
    # Name of the GCP IAM Role that should be created for Dynatrace Function Service Account
    iamRole: dynatrace_extension.metrics
    # Path to Google credentials file
    # googleApplicationCredentialsPath: ''
    # Require valid SSL certificate when communicating with Dynatrace Cluster / Active Gate
    # May be set to false in case communication through Active Gate is debugged, for non-production use cases
    # Allowed values: true/yes, false/no
    requireValidCertificate: true
    # Determines a caller-specified project for quota and billing purposes 
    # if set to source: monitoring API calls are booked towards project where K8S container is running
    # if set to destination: monitoring API calls are booked towards project which is monitored
    # REQUIRES serviceusage.services.use Permission granted for Service Account!
    serviceUsageBooking: source
    # Depending on value of this flag, function will use proxy settings for either Dynatrace, GCP API or both.
    # if set to ALL: proxy settings will be used for requests to Dynatrace and GCP API
    # if set to DT_ONLY: proxy settings will be used only for requests to Dynatrace
    # if set to GCP_ONLY: proxy settings will be used only for requests to GCP API
    # if not set: default, proxy settings won't be used
    useProxy: ""
    # Set the proxy addresses. To be used in conjunction with USE_PROXY.
    httpProxy: ""
    httpsProxy: ""
    # Send custom metrics to GCP to diagnose quickly if your dynatrace-gcp-monitor processes and sends metrics to Dynatrace properly.
    # Allowed values: true/yes, false/no
    selfMonitoringEnabled: false
    # scopingProjectSupportEnabled: set to true when metrics scope is configured, so metrics will be collected from all monitored projects.
    scopingProjectSupportEnabled: false
  metrics:
    # Name of the Pub/Sub topic for metric function
    pubSubTopic: dynatrace-gcp-service-invocation
    # Name of the metric forwarding function 
    function: dynatrace-gcp-monitor
    # Name of the metric forwarding Cloud Scheduler instance
    scheduler: dynatrace-gcp-schedule
    # dynatrace-gcp-monitor execution interval in minutes (1 - 6)
    queryInterval: 3
activation: |
  # filter_conditions with https://cloud.google.com/monitoring/api/v3/filters?hl=en_US syntax
  services:
    # Google Cloud APIs
    - service: api
      featureSets:
        - default_metrics
    # - limited_response_codes
      vars:
        filter_conditions: ""
    # Google Apigee Environment
    # - service: apigee_googleapis_com_Environment
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Apigee Proxy
    # - service: apigee_googleapis_com_Proxy
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Apigee Proxy (v2)
    # - service: apigee_googleapis_com_ProxyV2
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Assistant Action Project
    # - service: assistant_action_project
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Autoscaler
    # - service: autoscaler
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud BigQuery BI Engine Model
    # - service: bigquery_biengine_model
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud BigQuery Project
    # - service: bigquery_project
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud Bigtable Cluster
    # - service: bigtable_cluster
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud Bigtable Table
    # - service: bigtable_table
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud IoT Registry
    # - service: cloudiot_device_registry
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud ML Job
    # - service: cloudml_job
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud ML Model Version
    # - service: cloudml_model_version
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Cloud SQL Database
    - service: cloudsql_database
      featureSets:
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Cloud Trace
    # - service: cloudtrace_googleapis_com_CloudtraceProject
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google NetApp CVS-SO
    # - service: cloudvolumesgcp_api_netapp_com_NetAppCloudVolumeSO
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud Composer Environment
    # - service: cloud_composer_environment
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud Dataproc Cluster
    # - service: cloud_dataproc_cluster
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud Data Loss Prevention Project
    # - service: cloud_dlp_project
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud Function
    - service: cloud_function
      featureSets:
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Cloud Run Revision
    # - service: cloud_run_revision
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud Tasks queues
    # - service: cloud_tasks_queue
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Consumed API
    # - service: consumed_api
    #   featureSets:
    #     - default_metrics
    #     - limited_response_codes
    #   vars:
    #     filter_conditions: ""
    # Google Consumer Quota
    # - service: consumer_quota
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Dataflow Job
    # - service: dataflow_job
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud Datastore
    - service: datastore_request
      featureSets:
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Cloud DNS Query
    # - service: dns_query
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Filestore Instance
    - service: filestore_instance
      featureSets:
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Firebase Hosting Site Domain
    # - service: firebase_domain
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Firebase Realtime Database
    # - service: firebase_namespace
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Firestore Instance
    # - service: firestore_instance
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google App Engine Application
    # - service: gae_app
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google App Engine Application - Uptime Checks
    # - service: gae_app_uptime_check
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google App Engine Instance
    # - service: gae_instance
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google VM Instance
    - service: gce_instance
      featureSets:
       - default_metrics
      #  - agent
      #  - firewallinsights
      #  - istio
      #  - uptime_check
      vars:
        filter_conditions: ""
    # Google VM Instance VM Flow
    # - service: gce_instance_vm_flow
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud Router
    # - service: gce_router
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Zone Network Health
    # - service: gce_zone_network_health
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud Storage bucket
    - service: gcs_bucket
      featureSets:
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Cloud HTTP/S Load Balancing Rule
    - service: https_lb_rule
      featureSets:
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Instance Group
    # - service: instance_group
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Interconnect
    # - service: interconnect
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Interconnect Attachment
    # - service: interconnect_attachment
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Internal HTTP/S Load Balancing Rule
    - service: internal_http_lb_rule
      featureSets:
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Internal TCP Load Balancer Rule
    - service: internal_tcp_lb_rule
      featureSets:
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Internal UDP Load Balancer Rule
    - service: internal_udp_lb_rule
      featureSets:
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Network TCP Load Balancer Rule
    - service: tcp_lb_rule
      featureSets:
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Network UDP Load Balancer Rule
    - service: udp_lb_rule
      featureSets:
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Kubernetes Cluster
    - service: k8s_cluster
      featureSets:
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Kubernetes Container
    - service: k8s_container
      featureSets:
       # We recommend to monitor k8s_container/default_metrics together with k8s_node/default_metrics, k8s_pod/default_metrics
       - default_metrics
      #  - agent
      #  - apigee
      #  - istio
      #  - nginx
      vars:
        filter_conditions: ""
      #  filter_conditions: resource.labels.location = "us-central1-c" AND resource.labels.namespace_name != "jenkins"
    # Google Kubernetes Node
    - service: k8s_node
      featureSets:
        # We recommend to monitor k8s_node/default_metrics together with k8s_pod/default_metrics, k8s_container/default_metrics
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Kubernetes Pod
    - service: k8s_pod
      featureSets:
       # We recommend to monitor k8s_pod/default_metrics together with k8s_node/default_metrics, k8s_container/default_metrics
       - default_metrics
      #  - istio
      vars:
        filter_conditions: ""
    # Google Cloud Logging export sink
    # - service: logging_sink
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud Microsoft Active Directory Domain
    # - service: microsoft_ad_domain
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud NAT Gateway
    # - service: nat_gateway
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google NetApp Cloud Volume
    # - service: netapp_cloud_volume
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Network Security Policy
    # - service: network_security_policy
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Producer Quota
    # - service: producer_quota
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Pub/Sub Lite Subscription Partition
    - service: pubsublite_subscription_partition
      featureSets:
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Pub/Sub Lite Topic Partition
    - service: pubsublite_topic_partition
      featureSets:
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Cloud Pub/Sub Snapshot
    - service: pubsub_snapshot
      featureSets:
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Cloud Pub/Sub Subscription
    - service: pubsub_subscription
      featureSets:
        # We recommend to monitor pubsub_subscription/default_metrics together with pubsub_topic/default_metrics
        - default_metrics
      vars:
        filter_conditions: ""
    # Google Cloud Pub/Sub Topic
    - service: pubsub_topic
      featureSets:
        # We recommend to monitor pubsub_topic/default_metrics together with pubsub_subscription/default_metrics
        - default_metrics
      vars:
        filter_conditions: ""
    # Google reCAPTCHA Key
    # - service: recaptchaenterprise_googleapis_com_Key
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud Memorystore
    # - service: redis_instance
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud Spanner Instance
    # - service: spanner_instance
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud TCP/SSL Proxy Rule
    # - service: tcp_ssl_proxy_rule
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud TPU Worker
    # - service: tpu_worker
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Transfer Service Agent
    # - service: transfer_service_agent
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Uptime Check URL
    # - service: uptime_url
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google VPC Access Connector
    # - service: vpc_access_connector
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google Cloud VPN Tunnel
    # - service: vpn_gateway
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""
    # Google AlloyDB for PostgreSQL
    # - service: alloydb_database
    #   featureSets:
    #     - insights_metrics
    #   vars:
    #     filter_conditions: ""
    # - service: alloydb_instance
    #   featureSets:
    #     - default_metrics
    #   vars:
    #     filter_conditions: ""