# Debug properties for Dynatrace Cloud Function
debug:  
  # if true will print full MINT ingest input. Allowed values: true/yes, false/no
  printMetricIngestInput: false 
googleCloud:
  common:
    # Name of Google Secret Manager Secret containing Dynatrace URL
    dynatraceUrlSecretName: DYNATRACE_URL
    # Name of Google Secret Manager Secret containing Dynatrace Access Key
    dynatraceAccessKeySecretName: DYNATRACE_ACCESS_KEY
    # Name of the Service Account that should be created for Dynatrace Function to authenticate with Google Monitoring API 
    serviceAccount: dynatrace-gcp-service-custom
    # Name of the GCP IAM Role that should be created for Dynatrace Function Service Account
    iamRole: dynatrace_extension.metrics
    # Path to Google credentials file
    # googleApplicationCredentialsPath: ''
    cloudFunctionSize: s 
    # Require valid SSL certificate when communicating with Dynatrace Cluster / Active Gate
    # May be set to false in case communication through Active Gate is debugged, for non-production use cases
    # Allowed values: true/yes, false/no
    requireValidCertificate: true
    # Determines a caller-specified project for quota and billing purposes 
    # if set to source: monitoring API calls are booked towards project where K8S container is running
    # if set to destination: monitoring API calls are booked towards project which is monitored
    # REQUIRES serviceusage.services.use Permission granted for Service Account!
    serviceUsageBooking: source
    # Depending on value of this flag, function will use proxy settings for either Dynatrace, GCP API or both.
    # if set to ALL: proxy settings will be used for requests to Dynatrace and GCP API
    # if set to DT_ONLY: proxy settings will be used only for requests to Dynatrace
    # if set to GCP_ONLY: proxy settings will be used only for requests to GCP API
    # if not set: default, proxy settings won't be used
    useProxy: ""
    # Set the proxy addresses. To be used in conjunction with USE_PROXY.
    httpProxy: ""
    httpsProxy: ""
    # Import predefined dashboards for selected services. Allowed values: true/yes, false/no
    importDashboards: true
    # Import predefined alerts for selected services. Allowed values: true/yes, false/no
    importAlerts: true
    # Send custom metrics to GCP to diagnose quickly if your dynatrace-gcp-function processes and sends metrics to Dynatrace properly.
    # Allowed values: true/yes, false/no
    selfMonitoringEnabled: false
  metrics:
    # Name of the Pub/Sub topic for metric function
    pubSubTopic: dynatrace-gcp-service-invocation
    # Name of the metric forwarding function 
    function: dynatrace-gcp-function
    # Name of the metric forwarding Cloud Scheduler instance
    scheduler: dynatrace-gcp-schedule
    # Cron schedule for Cloud Scheduler instance
    schedulerSchedule: "* * * * *"
    # Compatibility mode - concerns the change in reported dimension names. Allowed values: "true"/"yes", "false"/"no".
    # Should be false for all new setups. Meant to allow a gradual transition for setups that already have historical metrics data.
    # If true, report deprecated metric dimensions (flagged as compatiblityModeOnly=true) along with their new equivalents:
    # project_id > gcp.project.id | region, location, zone, metrics.label.region > gcp.region
    metrics: false
activation:
  metrics:
    # List of services to forward Google Monitoring Metrics to Dynatrace
    services:
    # Google Cloud APIs
    - api/default     
    # Google Apigee Environment
    #- apigee.googleapis.com/Environment/default
    # Google Apigee Proxy
    #- apigee.googleapis.com/Proxy/default
    # Google Apigee Proxy (v2)
    #- apigee.googleapis.com/ProxyV2/default
    # Google Assistant Action Project
    #- assistant_action_project/default
    # Google Autoscaler
    #- autoscaler/default
    # Google Cloud BigQuery BI Engine Model
    #- bigquery_biengine_model/default
    # Google Cloud BigQuery Project
    #- bigquery_project/default
    # Google Cloud Bigtable Cluster
    #- bigtable_cluster/default
    # Google Cloud Bigtable Table
    #- bigtable_table/default
    # Google Cloud IoT Registry
    #- cloudiot_device_registry/default
    # Google Cloud ML Job
    #- cloudml_job/default
    # Google Cloud ML Model Version
    #- cloudml_model_version/default
    #Cloud SQL Database
    - cloudsql_database/default
    # Google Cloud Trace
    #- cloudtrace.googleapis.com/CloudtraceProject/default
    # Google NetApp CVS-SO
    #- cloudvolumesgcp-api.netapp.com/NetAppCloudVolumeSO/default
    # Google Cloud Composer Environment
    #- cloud_composer_environment/default
    # Google Cloud Dataproc Cluster
    #- cloud_dataproc_cluster/default
    # Google Cloud Data Loss Prevention Project
    #- cloud_dlp_project/default
    # Google Cloud Function
    - cloud_function/default
    # Google Cloud Run Revision
    #- cloud_run_revision/default
    #Amazon EC2 Instance (via GCP)
    #- cloud_tasks_queue/default
    # Google Consumed API
    #- consumed_api/default
    # Google Consumer Quota
    #- consumer_quota/default
    # Google Dataflow Job
    #- dataflow_job/default
    # Google Cloud Datastore
    - datastore_request/default
    # Google Cloud DNS Query
    #- dns_query/default
    # Google Filestore Instance
    #- filestore_instance/default
    # Google Firebase Hosting Site Domain
    #- firebase_domain/default
    # Google Firebase Realtime Database
    #- firebase_namespace/default
    # Google Firestore Instance
    #- firestore_instance/default
    # Google App Engine Application
    #- gae_app/default
    # Google App Engine Application - Uptime Checks
    #- gae_app_uptime_check/default
    # Google App Engine Instance
    #- gae_instance/default
    # Google VM Instance
    #- gce_instance/default
    # Google VM Instance Agent
    #- gce_instance/agent
    # Google VM Instance
    #- gce_instance/appenginee
    # Google VM Instance Firewall Insights
    #- gce_instance/firewallinsights
    # Google VM Instance Istio
    #- gce_instance/istio
    # Google VM Instance Uptime Checks
    #- gce_instance/uptime_check
    # Google VM Instance VM Flow
    #- gce_instance_vm_flow/None
    # Google Cloud Router
    #- gce_router/default
    # Google Zone Network Health
    #- gce_zone_network_health/default
    # Google Cloud Storage bucket
    - gcs_bucket/default
    # Google GKE Container
    #- gke_container/default
    # Google Cloud HTTP/S Load Balancing Rule
    - https_lb_rule/default
    # Google Instance Group
    #- instance_group/default
    # Google Interconnect
    #- interconnect/default
    # Google Interconnect Attachment
    #- interconnect_attachment/default
    # Google Internal HTTP/S Load Balancing Rule
    - internal_http_lb_rule/default
    # Google Internal TCP Load Balancer Rule
    - internal_tcp_lb_rule/default
    # Google Internal UDP Load Balancer Rule
    - internal_udp_lb_rule/default
    # Google Istio Canonical Service
    #- istio_canonical_service/default
    # Google Kubernetes Cluster
    #- k8s_cluster/default
    # Google Kubernetes Container
    - k8s_container/default
    # Google Kubernetes Container Agent
    #- k8s_container/agent
    # Google Kubernetes Container Apigee
    #- k8s_container/apigee
    # Google Kubernetes Container Istio
    #- k8s_container/istio
    # Google Kubernetes Container Nginx
    #- k8s_container/nginx
    # Google Kubernetes Node
    - k8s_node/default
    # Google Kubernetes Pod
    - k8s_pod/default
    # Google Kubernetes Pod
    #- k8s_pod/istio
    # Google Cloud Run for Anthos Broker
    #- knative_broker/default
    # Google Cloud Run for Anthos Revision
    #- knative_revision/default
    # Google Cloud Run for Anthos Trigger
    #- knative_trigger/default
    # Google Cloud Logging export sink
    #- logging_sink/default
    # Google Cloud Microsoft Active Directory Domain
    #- microsoft_ad_domain/default
    # Google Cloud NAT Gateway
    #- nat_gateway/default
    # Google NetApp Cloud Volume
    #- netapp_cloud_volume/default
    # Google Network Security Policy
    #- network_security_policy/default
    # Google Producer Quota
    #- producer_quota/default
    # Google Pub/Sub Lite Subscription Partition
    - pubsublite_subscription_partition/default
    # Google Pub/Sub Lite Topic Partition
    - pubsublite_topic_partition/default
    # Google Cloud Pub/Sub Snapshot
    - pubsub_snapshot/default
    # Google Cloud Pub/Sub Subscription
    - pubsub_subscription/default
    # Google Cloud Pub/Sub Topic
    - pubsub_topic/default
    # Google reCAPTCHA Key
    #- recaptchaenterprise.googleapis.com/Key/default
    # Google Cloud Memorystore
    - redis_instance/default
    # Google Cloud Spanner Instance
    #- spanner_instance/default
    # Google Cloud Network TCP Load Balancer Rule
    - tcp_lb_rule/default
    # Google Cloud TCP/SSL Proxy Rule
    #- tcp_ssl_proxy_rule/default
    # Google Cloud TPU Worker
    #- tpu_worker/default
    # Google Transfer Service Agent
    #- transfer_service_agent/default
    # Google Cloud Network UDP Load Balancer Rule
    #- udp_lb_rule/default
    # Google Uptime Check URL
    #- uptime_url/default
    # Google VPC Access Connector
    #- vpc_access_connector/default
    # Google Cloud VPN Tunnel
    #- vpn_gatewayv/None