#     Copyright 2020 Dynatrace LLC
#
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.

apiVersion: v1
kind: ConfigMap
metadata:
  name: dynatrace-gcp-function-config
  namespace: {{ .Release.Namespace }}
data:
  GCP_PROJECT: {{ .Values.gcpProjectId | quote }}
  REQUIRE_VALID_CERTIFICATE: {{ .Values.requireValidCertificate | quote }}
  SELF_MONITORING_ENABLED: {{ .Values.selfMonitoringEnabled | quote }}
  {{- if and (.Values.useProxy) }}
  USE_PROXY: {{ .Values.useProxy | quote }}
  HTTP_PROXY: {{ .Values.httpProxy | quote }}
  HTTPS_PROXY: {{ .Values.httpsProxy | quote }}
  {{- end }}
  {{- if or (eq .Values.deploymentType "metrics") (eq .Values.deploymentType "all") }}
  PRINT_METRIC_INGEST_INPUT: {{ .Values.printMetricIngestInput | quote }}
  SERVICE_USAGE_BOOKING: {{ .Values.serviceUsageBooking | quote }}
  IMPORT_DASHBOARDS: {{ .Values.importDashboards | quote }}
  IMPORT_ALERTS: {{ .Values.importAlerts | quote }}
  GCP_SERVICES_YAML: {{ .Values.gcpServicesYaml | quote }}
  {{- end }}
  {{- if or (eq .Values.deploymentType "logs") (eq .Values.deploymentType "all") }}
  LOGS_SUBSCRIPTION_ID: {{ .Values.logsSubscriptionId | quote }}
  DYNATRACE_LOG_INGEST_CONTENT_MAX_LENGTH: {{ .Values.logIngestContentMaxLength | quote }}
  DYNATRACE_LOG_INGEST_ATTRIBUTE_VALUE_MAX_LENGTH: {{ .Values.logIngestAttributeValueMaxLength | quote }}
  DYNATRACE_LOG_INGEST_REQUEST_MAX_EVENTS: {{ .Values.logIngestRequestMaxEvents | quote }}
  DYNATRACE_LOG_INGEST_REQUEST_MAX_SIZE: {{ .Values.logIngestRequestMaxSize | quote }}
  DYNATRACE_TIMEOUT_SECONDS: {{ .Values.logIngestEventMaxAgeSeconds | quote }}
  USE_EXISTING_ACTIVE_GATE: {{ .Values.activeGate.useExisting | quote }}
  {{- end }}
  