apiVersion: v1
kind: ServiceAccount
metadata:
  name: dynatrace-gcp-function-sa
  namespace: dynatrace
automountServiceAccountToken: false
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: dynatrace-gcp-function-config
  namespace: dynatrace
data:
  GCP_SERVICES: {{ .Values.gcpServices | quote }}
  PRINT_METRIC_INGEST_INPUT: {{ .Values.printMetricIngestInput | quote }}
  REQUIRE_VALID_CERTIFICATE: {{ .Values.requireValidCertificate | quote }}
  SERVICE_USAGE_BOOKING: {{ .Values.serviceUsageBooking | quote }}
  USE_PROXY: {{ .Values.useProxy | quote }}
  HTTP_PROXY: {{ .Values.httpProxy | quote }}
  HTTPS_PROXY: {{ .Values.httpsProxy | quote }}
  LOGS_SUBSCRIPTION_PROJECT: {{ .Values.logsSubscriptionProject | quote }}
  LOGS_SUBSCRIPTION_ID: {{ .Values.logsSubscriptionId | quote }}
  DYNATRACE_LOG_INGEST_CONTENT_MAX_LENGTH: {{ .Values.logIngestContentMaxLength | quote }}
  DYNATRACE_LOG_INGEST_ATTRIBUTE_VALUE_MAX_LENGTH: {{ .Values.logIngestAttributeValueMaxLength | quote }}
  DYNATRACE_LOG_INGEST_REQUEST_MAX_EVENTS: {{ .Values.logIngestRequestMaxEvents | quote }}
  DYNATRACE_LOG_INGEST_REQUEST_MAX_SIZE: {{ .Values.logIngestRequestMaxSize | quote }}
  DYNATRACE_TIMEOUT_SECONDS: {{ .Values.logIngestEventMaxAgeSeconds | quote }}
  SELF_MONITORING_ENABLED: {{ .Values.selfMonitoringEnabled | quote }}

---
apiVersion: v1
kind: Secret
metadata:
  name: dynatrace-gcp-function-secret
  namespace: dynatrace
type: "kubernetes.io/storageos"
data:
  access-key: {{ .Values.dynatraceAccessKey | b64enc | quote }}
  url: {{ .Values.dynatraceUrl | b64enc | quote }}
  log-ingest-url: {{ .Values.dynatraceLogIngestUrl | b64enc | quote }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dynatrace-gcp-function
  labels:
    app: dynatrace-gcp-function
  namespace: dynatrace
spec:
  selector:
    matchLabels:
      app: dynatrace-gcp-function
  replicas: 1
  template:
    metadata:
      labels:
        app: dynatrace-gcp-function
      annotations:
        "version" : "1"
    spec:
      serviceAccountName: dynatrace-gcp-function-sa
      automountServiceAccountToken: false
      containers:
      {{- if or (eq .Values.deploymentType "metrics") (eq .Values.deploymentType "all") }}
      - image: dynatrace/dynatrace-gcp-function
        name: dynatrace-gcp-function-metrics      
        imagePullPolicy: Always
        env:
        - name: OPERATION_MODE
          value: Metrics
        - name: GCP_SERVICES
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: GCP_SERVICES
        - name: PRINT_METRIC_INGEST_INPUT
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: PRINT_METRIC_INGEST_INPUT
        - name: REQUIRE_VALID_CERTIFICATE
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: REQUIRE_VALID_CERTIFICATE
        - name: SERVICE_USAGE_BOOKING
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: SERVICE_USAGE_BOOKING
        - name: USE_PROXY
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: USE_PROXY
        - name: HTTP_PROXY
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: HTTP_PROXY
        - name: HTTPS_PROXY
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: HTTPS_PROXY
        - name: DYNATRACE_ACCESS_KEY_SECRET_NAME
          value: DYNATRACE_ACCESS_KEY
        - name: DYNATRACE_URL_SECRET_NAME
          value: DYNATRACE_URL
        - name: DYNATRACE_URL
          valueFrom:
            secretKeyRef:
              name: dynatrace-gcp-function-secret
              key: url
        - name: DYNATRACE_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: dynatrace-gcp-function-secret
              key: access-key
        - name: SELF_MONITORING_ENABLED
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: SELF_MONITORING_ENABLED
        - name: HEALTH_CHECK_PORT
          value: "8080"
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
        startupProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 10
      {{- end }}
      {{- if or (eq .Values.deploymentType "logs") (eq .Values.deploymentType "all") }}
      - image: dynatrace/dynatrace-gcp-function
        name: dynatrace-gcp-function-logs
        imagePullPolicy: Always
        env:
        - name: OPERATION_MODE
          value: Logs
        - name: LOGS_SUBSCRIPTION_PROJECT
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: LOGS_SUBSCRIPTION_PROJECT
        - name: LOGS_SUBSCRIPTION_ID
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: LOGS_SUBSCRIPTION_ID
        - name: DYNATRACE_LOG_INGEST_CONTENT_MAX_LENGTH
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: DYNATRACE_LOG_INGEST_CONTENT_MAX_LENGTH
        - name: DYNATRACE_LOG_INGEST_ATTRIBUTE_VALUE_MAX_LENGTH
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: DYNATRACE_LOG_INGEST_ATTRIBUTE_VALUE_MAX_LENGTH
        - name: DYNATRACE_LOG_INGEST_REQUEST_MAX_EVENTS
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: DYNATRACE_LOG_INGEST_REQUEST_MAX_EVENTS
        - name: DYNATRACE_LOG_INGEST_REQUEST_MAX_SIZE
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: DYNATRACE_LOG_INGEST_REQUEST_MAX_SIZE
        - name: DYNATRACE_TIMEOUT_SECONDS
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: DYNATRACE_TIMEOUT_SECONDS
        - name: REQUIRE_VALID_CERTIFICATE
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: REQUIRE_VALID_CERTIFICATE
        - name: DYNATRACE_ACCESS_KEY_SECRET_NAME
          value: DYNATRACE_ACCESS_KEY
        - name: DYNATRACE_LOG_INGEST_URL_SECRET_NAME
          value: DYNATRACE_LOG_INGEST_URL
        - name: DYNATRACE_LOG_INGEST_URL
          valueFrom:
            secretKeyRef:
              name: dynatrace-gcp-function-secret
              key: log-ingest-url
        - name: DYNATRACE_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: dynatrace-gcp-function-secret
              key: access-key
        - name: SELF_MONITORING_ENABLED
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: SELF_MONITORING_ENABLED
        - name: HEALTH_CHECK_PORT
          value: "8081"
        resources:
          requests:
            memory: "256Mi"
            cpu: "500m"
          limits:
            memory: "256Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 8081
        startupProbe:
          httpGet:
            path: /health
            port: 8081
          initialDelaySeconds: 10
      {{- end }}