apiVersion: v1
kind: ServiceAccount
metadata:
  name: dynatrace-gcp-function-sa
  namespace: dynatrace
automountServiceAccountToken: false
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: dynatrace-gcp-function-config
  namespace: dynatrace
data:
  # coma separated list of GCP services, which should be queried for metrics and ingested into Dynatrace
  GCP_SERVICES: "api,cloud_function,cloudsql_database,datastore_request,filestore_instance,gcs_bucket,https_lb_rule,internal_http_lb_rule,internal_tcp_lb_rule,internal_udp_lb_rule,tcp_lb_rule,udp_lb_rule,pubsub_snapshot,pubsub_subscription,pubsub_topic,pubsublite_topic_partition"
  # if true function will output lines of metrics into stdout
  PRINT_METRIC_INGEST_INPUT: "false"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dynatrace-gcp-function
  labels:
    app: dynatrace-gcp-function
  namespace: dynatrace
spec:
  selector:
    matchLabels:
      app: dynatrace-gcp-function
  replicas: 1
  template:
    metadata:
      labels:
        app: dynatrace-gcp-function
      annotations:
        "version" : "1"
    spec:
      serviceAccountName: dynatrace-gcp-function-sa
      automountServiceAccountToken: false
      containers:
      - image: dynatrace/dynatrace-gcp-function
        name: dynatrace-gcp-function      
        env:
        - name: GCP_SERVICES
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: GCP_SERVICES
        - name: PRINT_METRIC_INGEST_INPUT
          valueFrom:
            configMapKeyRef:
              name: dynatrace-gcp-function-config
              key: PRINT_METRIC_INGEST_INPUT
        - name: DYNATRACE_ACCESS_KEY_SECRET_NAME
          value: DYNATRACE_ACCESS_KEY
        - name: DYNATRACE_URL_SECRET_NAME
          value: DYNATRACE_URL
        - name: DYNATRACE_URL
          valueFrom:
            secretKeyRef:
              name: dynatrace-gcp-function-secret
              key: url
        - name: DYNATRACE_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: dynatrace-gcp-function-secret
              key: access-key   
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 10