id: cloudsql_database
$schema: gcp_schema_v_1_0.json
version: 0.0.1
minDynatraceVersion: 1.199
vars:
 - id: filter_conditions
   displayName: Metric query filter for which metrics should be queried
   type: variables
technology:
  name: Cloud SQL Database
gcp:
- service: cloudsql_database
  featureSet: default
  gcp_monitoring_filter: var:filter_conditions
  dimensions:
  - value: resource.labels.project_id
    id: project_id
    compatibilityModeOnly: true
  - value: resource.labels.project_id
    id: gcp.project.id
  - value: resource.labels.database_id
     id: database_id
     compatibilityModeOnly: true
  - value: resource.labels.database_id
     id: gcp.instance.name
  - value: resource.labels.region
    id: region
    compatibilityModeOnly: true
  - value: resource.labels.region
    id: gcp.region
  metrics:
  - value: cloudsql.googleapis.com/database/auto_failover_request_count
    id: cloud.gcp.cloudsql_googleapis_com.database.auto_failover_request_count
    type: count,delta
    name: Auto-failover Requests
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: cloudsql.googleapis.com/database/available_for_failover
    id: cloud.gcp.cloudsql_googleapis_com.database.available_for_failover
    type: gauge
    name: Available for failover
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/cpu/reserved_cores
    id: cloud.gcp.cloudsql_googleapis_com.database.cpu.reserved_cores
    type: gauge
    name: CPU reserved cores
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: DOUBLE
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/cpu/usage_time
    id: cloud.gcp.cloudsql_googleapis_com.database.cpu.usage_time
    type: count,delta
    name: CPU usage
    unit: s{CPU}
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: DOUBLE
      metricKind: DELTA
    dimensions: []
  - value: cloudsql.googleapis.com/database/cpu/utilization
    id: cloud.gcp.cloudsql_googleapis_com.database.cpu.utilization
    type: gauge
    name: CPU utilization
    unit: 10^2.%
    gcpOptions:
      ingestDelay: 150s
      samplePeriod: 60s
      valueType: DOUBLE
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/disk/bytes_used
    id: cloud.gcp.cloudsql_googleapis_com.database.disk.bytes_used
    type: gauge
    name: Bytes used
    unit: By
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/disk/quota
    id: cloud.gcp.cloudsql_googleapis_com.database.disk.quota
    type: gauge
    name: Disk quota
    unit: By
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/disk/read_ops_count
    id: cloud.gcp.cloudsql_googleapis_com.database.disk.read_ops_count
    type: count,delta
    name: Disk read IO
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: cloudsql.googleapis.com/database/disk/utilization
    id: cloud.gcp.cloudsql_googleapis_com.database.disk.utilization
    type: gauge
    name: Disk utilization
    unit: '1'
    gcpOptions:
      ingestDelay: 150s
      samplePeriod: 60s
      valueType: DOUBLE
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/disk/write_ops_count
    id: cloud.gcp.cloudsql_googleapis_com.database.disk.write_ops_count
    type: count,delta
    name: Disk write IO
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: cloudsql.googleapis.com/database/instance_state
    id: cloud.gcp.cloudsql_googleapis_com.database.instance_state
    type: gauge
    name: Instance state
    unit: ''
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: BOOL
      metricKind: GAUGE
    dimensions:
    - value: metric.labels.state
  - value: cloudsql.googleapis.com/database/memory/quota
    id: cloud.gcp.cloudsql_googleapis_com.database.memory.quota
    type: gauge
    name: Memory quota
    unit: By
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/memory/usage
    id: cloud.gcp.cloudsql_googleapis_com.database.memory.usage
    type: gauge
    name: Memory usage
    unit: By
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/memory/utilization
    id: cloud.gcp.cloudsql_googleapis_com.database.memory.utilization
    type: gauge
    name: Memory utilization
    unit: '1'
    gcpOptions:
      ingestDelay: 150s
      samplePeriod: 60s
      valueType: DOUBLE
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/innodb_buffer_pool_pages_dirty
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.innodb_buffer_pool_pages_dirty
    type: gauge
    name: InnoDB dirty pages
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/innodb_buffer_pool_pages_free
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.innodb_buffer_pool_pages_free
    type: gauge
    name: InnoDB free pages
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/innodb_buffer_pool_pages_total
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.innodb_buffer_pool_pages_total
    type: gauge
    name: InnoDB total pages
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/innodb_data_fsyncs
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.innodb_data_fsyncs
    type: count,delta
    name: InnoDB fsync calls
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/innodb_os_log_fsyncs
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.innodb_os_log_fsyncs
    type: count,delta
    name: InnoDB log fsync calls
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/innodb_pages_read
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.innodb_pages_read
    type: count,delta
    name: InnoDB pages read
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/innodb_pages_written
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.innodb_pages_written
    type: count,delta
    name: InnoDB pages written
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/queries
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.queries
    type: count,delta
    name: Queries
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/questions
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.questions
    type: count,delta
    name: Questions
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/received_bytes_count
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.received_bytes_count
    type: count,delta
    name: Network bytes received by MySQL
    unit: By
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/replication/available_for_failover
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.replication.available_for_failover
    type: gauge
    name: Available for failover (Deprecated)
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/replication/last_io_errno
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.replication.last_io_errno
    type: gauge
    name: Last I/O thread error number.
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/replication/last_sql_errno
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.replication.last_sql_errno
    type: gauge
    name: Last SQL thread error number.
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/replication/seconds_behind_master
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.replication.seconds_behind_master
    type: gauge
    name: Replica lag
    unit: s
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/replication/slave_io_running
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.replication.slave_io_running
    type: gauge
    name: Slave I/O thread running
    unit: ''
    gcpOptions:
      ingestDelay: 60s
      samplePeriod: 60s
      valueType: STRING
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/replication/slave_io_running_state
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.replication.slave_io_running_state
    type: gauge
    name: Slave I/O thread running state
    unit: ''
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: BOOL
      metricKind: GAUGE
    dimensions:
    - value: metric.labels.state
  - value: cloudsql.googleapis.com/database/mysql/replication/slave_sql_running
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.replication.slave_sql_running
    type: gauge
    name: Slave SQL thread running
    unit: ''
    gcpOptions:
      ingestDelay: 60s
      samplePeriod: 60s
      valueType: STRING
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/mysql/replication/slave_sql_running_state
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.replication.slave_sql_running_state
    type: gauge
    name: Slave SQL thread running state
    unit: ''
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: BOOL
      metricKind: GAUGE
    dimensions:
    - value: metric.labels.state
  - value: cloudsql.googleapis.com/database/mysql/sent_bytes_count
    id: cloud.gcp.cloudsql_googleapis_com.database.mysql.sent_bytes_count
    type: count,delta
    name: Network bytes sent by MySQL
    unit: By
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: cloudsql.googleapis.com/database/network/connections
    id: cloud.gcp.cloudsql_googleapis_com.database.network.connections
    type: gauge
    name: Cloud SQL Connections
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/network/received_bytes_count
    id: cloud.gcp.cloudsql_googleapis_com.database.network.received_bytes_count
    type: count,delta
    name: Received bytes
    unit: By
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: cloudsql.googleapis.com/database/network/sent_bytes_count
    id: cloud.gcp.cloudsql_googleapis_com.database.network.sent_bytes_count
    type: count,delta
    name: Sent bytes
    unit: By
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions:
    - value: metric.labels.destination
  - value: cloudsql.googleapis.com/database/postgresql/num_backends
    id: cloud.gcp.cloudsql_googleapis_com.database.postgresql.num_backends
    type: gauge
    name: PostgreSQL Connections
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions:
    - value: metric.labels.database
  - value: cloudsql.googleapis.com/database/postgresql/replication/replica_byte_lag
    id: cloud.gcp.cloudsql_googleapis_com.database.postgresql.replication.replica_byte_lag
    type: gauge
    name: Lag bytes
    unit: By
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions:
    - value: metric.labels.replica_name
    - value: metric.labels.replica_lag_type
  - value: cloudsql.googleapis.com/database/postgresql/transaction_count
    id: cloud.gcp.cloudsql_googleapis_com.database.postgresql.transaction_count
    type: count,delta
    name: Number of transactions
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions:
    - value: metric.labels.database
    - value: metric.labels.transaction_type
  - value: cloudsql.googleapis.com/database/replication/replica_lag
    id: cloud.gcp.cloudsql_googleapis_com.database.replication.replica_lag
    type: gauge
    name: Replica lag
    unit: s
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: DOUBLE
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/state
    id: cloud.gcp.cloudsql_googleapis_com.database.state
    type: gauge
    name: State
    unit: ''
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: STRING
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/up
    id: cloud.gcp.cloudsql_googleapis_com.database.up
    type: gauge
    name: Server up
    unit: '1'
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: cloudsql.googleapis.com/database/uptime
    id: cloud.gcp.cloudsql_googleapis_com.database.uptime
    type: count,delta
    name: Uptime
    unit: s
    gcpOptions:
      ingestDelay: 210s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
dashboards:
  - dashboard: "dashboards/cloudsql_database.json"
alerts:
  - path: "alerts/cloudsql_database/cpu.utilization.json"