id: firebase_namespace
$schema: gcp_schema_v_1_0.json
version: 0.0.1
minDynatraceVersion: 1.199
technology:
  name: Google Firebase Realtime Database
gcp:
- service: firebase_namespace
  featureSet: default
  dimensions:
  - value: resource.labels.project_id
    id: project_id
  - value: resource.labels.table_name
    id: table_name
  - value: resource.labels.location
    id: location
  metrics:
  - value: firebasedatabase.googleapis.com/io/database_load
    id: cloud.gcp.firebasedatabase_googleapis_com.io.database_load
    type: gauge
    name: Database Load
    unit: '1'
    gcpOptions:
      ingestDelay: 1800s
      samplePeriod: 60s
      valueType: DOUBLE
      metricKind: GAUGE
    dimensions:
    - value: metric.labels.type
  - value: firebasedatabase.googleapis.com/io/persisted_bytes_count
    id: cloud.gcp.firebasedatabase_googleapis_com.io.persisted_bytes_count
    type: count,delta
    name: Saved Bytes
    unit: By
    gcpOptions:
      ingestDelay: 1920s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: firebasedatabase.googleapis.com/io/sent_responses_count
    id: cloud.gcp.firebasedatabase_googleapis_com.io.sent_responses_count
    type: count,delta
    name: Responses sent
    unit: '1'
    gcpOptions:
      ingestDelay: 1920s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: firebasedatabase.googleapis.com/io/utilization
    id: cloud.gcp.firebasedatabase_googleapis_com.io.utilization
    type: gauge
    name: I/O utilization
    unit: '1'
    gcpOptions:
      ingestDelay: 1800s
      samplePeriod: 60s
      valueType: DOUBLE
      metricKind: GAUGE
    dimensions: []
  - value: firebasedatabase.googleapis.com/network/active_connections
    id: cloud.gcp.firebasedatabase_googleapis_com.network.active_connections
    type: gauge
    name: Connections
    unit: '1'
    gcpOptions:
      ingestDelay: 1800s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: firebasedatabase.googleapis.com/network/api_hits_count
    id: cloud.gcp.firebasedatabase_googleapis_com.network.api_hits_count
    type: count,delta
    name: API Hits
    unit: '1'
    gcpOptions:
      ingestDelay: 1920s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions:
    - value: metric.labels.operation_type
  - value: firebasedatabase.googleapis.com/network/broadcast_load
    id: cloud.gcp.firebasedatabase_googleapis_com.network.broadcast_load
    type: gauge
    name: Broadcast Load
    unit: '1'
    gcpOptions:
      ingestDelay: 1800s
      samplePeriod: 60s
      valueType: DOUBLE
      metricKind: GAUGE
    dimensions: []
  - value: firebasedatabase.googleapis.com/network/disabled_for_overages
    id: cloud.gcp.firebasedatabase_googleapis_com.network.disabled_for_overages
    type: gauge
    name: Disabled for network
    unit: ''
    gcpOptions:
      ingestDelay: 1800s
      samplePeriod: 900s
      valueType: BOOL
      metricKind: GAUGE
    dimensions: []
  - value: firebasedatabase.googleapis.com/network/https_requests_count
    id: cloud.gcp.firebasedatabase_googleapis_com.network.https_requests_count
    type: count,delta
    name: HTTPS Requests Received
    unit: '1'
    gcpOptions:
      ingestDelay: 1920s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions:
    - value: metric.labels.reused_ssl_session
  - value: firebasedatabase.googleapis.com/network/monthly_sent
    id: cloud.gcp.firebasedatabase_googleapis_com.network.monthly_sent
    type: gauge
    name: Bytes sent monthly
    unit: By
    gcpOptions:
      ingestDelay: 1800s
      samplePeriod: 900s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: firebasedatabase.googleapis.com/network/monthly_sent_limit
    id: cloud.gcp.firebasedatabase_googleapis_com.network.monthly_sent_limit
    type: gauge
    name: Bytes sent limit
    unit: By
    gcpOptions:
      ingestDelay: 1800s
      samplePeriod: 900s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: firebasedatabase.googleapis.com/network/sent_bytes_count
    id: cloud.gcp.firebasedatabase_googleapis_com.network.sent_bytes_count
    type: count,delta
    name: Total billed bytes
    unit: By
    gcpOptions:
      ingestDelay: 1920s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: firebasedatabase.googleapis.com/network/sent_payload_and_protocol_bytes_count
    id: cloud.gcp.firebasedatabase_googleapis_com.network.sent_payload_and_protocol_bytes_count
    type: count,delta
    name: Payload and Protocol Bytes sent
    unit: By
    gcpOptions:
      ingestDelay: 1920s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: firebasedatabase.googleapis.com/network/sent_payload_bytes_count
    id: cloud.gcp.firebasedatabase_googleapis_com.network.sent_payload_bytes_count
    type: count,delta
    name: Payload Bytes Sent
    unit: By
    gcpOptions:
      ingestDelay: 1920s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions: []
  - value: firebasedatabase.googleapis.com/rules/evaluation_count
    id: cloud.gcp.firebasedatabase_googleapis_com.rules.evaluation_count
    type: count,delta
    name: Rule evaluations
    unit: '1'
    gcpOptions:
      ingestDelay: 1920s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions:
    - value: metric.labels.request_method
    - value: metric.labels.ruleset_label
    - value: metric.labels.result
  - value: firebasedatabase.googleapis.com/storage/disabled_for_overages
    id: cloud.gcp.firebasedatabase_googleapis_com.storage.disabled_for_overages
    type: gauge
    name: Disabled for storage
    unit: ''
    gcpOptions:
      ingestDelay: 86400s
      samplePeriod: 86400s
      valueType: BOOL
      metricKind: GAUGE
    dimensions: []
  - value: firebasedatabase.googleapis.com/storage/limit
    id: cloud.gcp.firebasedatabase_googleapis_com.storage.limit
    type: gauge
    name: Bytes stored limit
    unit: By
    gcpOptions:
      ingestDelay: 1800s
      samplePeriod: 900s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: firebasedatabase.googleapis.com/storage/total_bytes
    id: cloud.gcp.firebasedatabase_googleapis_com.storage.total_bytes
    type: gauge
    name: Bytes stored
    unit: By
    gcpOptions:
      ingestDelay: 86400s
      samplePeriod: 86400s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
