id: gke_container
$schema: gcp_schema_v_1_0.json
version: 0.0.1
minDynatraceVersion: 1.199
vars:
 - id: filter_conditions
   displayName: Metric query filter for which metrics should be queried
   type: variables
technology:
  name: Google GKE Container
gcp:
- service: gke_container
  featureSet: default
  gcp_monitoring_filter: var:filter_conditions
  dimensions:
  - value: resource.labels.project_id
    id: project_id
    compatibilityMode: true
  - value: resource.labels.project_id
    id: gcp.project.id
  - value: resource.labels.cluster_name
    id: cluster_name
  - value: resource.labels.namespace_id
    id: namespace_id
  - value: resource.labels.instance_id
    id: instance_id
  - value: resource.labels.pod_id
    id: pod_id
  - value: resource.labels.container_name
    id: container_name
  - value: resource.labels.zone
    id: zone
  metrics:
  - value: container.googleapis.com/container/accelerator/duty_cycle
    id: cloud.gcp.container_googleapis_com.container.accelerator.duty_cycle
    type: gauge
    name: Accelerator duty cycle
    unit: '1'
    gcpOptions:
      ingestDelay: 0s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions:
    - value: metric.labels.make
    - value: metric.labels.accelerator_id
    - value: metric.labels.model
  - value: container.googleapis.com/container/accelerator/memory_total
    id: cloud.gcp.container_googleapis_com.container.accelerator.memory_total
    type: gauge
    name: Accelerator memory total
    unit: By
    gcpOptions:
      ingestDelay: 0s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions:
    - value: metric.labels.make
    - value: metric.labels.accelerator_id
    - value: metric.labels.model
  - value: container.googleapis.com/container/accelerator/memory_used
    id: cloud.gcp.container_googleapis_com.container.accelerator.memory_used
    type: gauge
    name: Accelerator memory used
    unit: By
    gcpOptions:
      ingestDelay: 0s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions:
    - value: metric.labels.make
    - value: metric.labels.accelerator_id
    - value: metric.labels.model
  - value: container.googleapis.com/container/accelerator/request
    id: cloud.gcp.container_googleapis_com.container.accelerator.request
    type: gauge
    name: Request accelerators
    unit: '{devices}'
    gcpOptions:
      ingestDelay: 0s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions:
    - value: metric.labels.resource_name
  - value: container.googleapis.com/container/cpu/reserved_cores
    id: cloud.gcp.container_googleapis_com.container.cpu.reserved_cores
    type: gauge
    name: Reserved cores
    unit: '1'
    gcpOptions:
      ingestDelay: 0s
      samplePeriod: 60s
      valueType: DOUBLE
      metricKind: GAUGE
    dimensions: []
  - value: container.googleapis.com/container/cpu/usage_time
    id: cloud.gcp.container_googleapis_com.container.cpu.usage_time
    type: count,delta
    name: CPU usage
    unit: s{CPU}
    gcpOptions:
      ingestDelay: 0s
      samplePeriod: 60s
      valueType: DOUBLE
      metricKind: CUMULATIVE
    dimensions: []
  - value: container.googleapis.com/container/cpu/utilization
    id: cloud.gcp.container_googleapis_com.container.cpu.utilization
    type: gauge
    name: CPU utilization
    unit: 10^2.%
    gcpOptions:
      ingestDelay: 360s
      samplePeriod: 60s
      valueType: DOUBLE
      metricKind: GAUGE
    dimensions: []
  - value: container.googleapis.com/container/disk/bytes_total
    id: cloud.gcp.container_googleapis_com.container.disk.bytes_total
    type: gauge
    name: Disk capacity
    unit: By
    gcpOptions:
      ingestDelay: 0s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions:
    - value: metric.labels.device_name
  - value: container.googleapis.com/container/disk/bytes_used
    id: cloud.gcp.container_googleapis_com.container.disk.bytes_used
    type: gauge
    name: Disk usage
    unit: By
    gcpOptions:
      ingestDelay: 0s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions:
    - value: metric.labels.device_name
  - value: container.googleapis.com/container/disk/inodes_free
    id: cloud.gcp.container_googleapis_com.container.disk.inodes_free
    type: gauge
    name: Inode free
    unit: '1'
    gcpOptions:
      ingestDelay: 0s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions:
    - value: metric.labels.device_name
  - value: container.googleapis.com/container/disk/inodes_total
    id: cloud.gcp.container_googleapis_com.container.disk.inodes_total
    type: gauge
    name: Inode capacity
    unit: '1'
    gcpOptions:
      ingestDelay: 0s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions:
    - value: metric.labels.device_name
  - value: container.googleapis.com/container/memory/bytes_total
    id: cloud.gcp.container_googleapis_com.container.memory.bytes_total
    type: gauge
    name: Memory limit
    unit: By
    gcpOptions:
      ingestDelay: 0s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: container.googleapis.com/container/memory/bytes_used
    id: cloud.gcp.container_googleapis_com.container.memory.bytes_used
    type: gauge
    name: Memory usage
    unit: By
    gcpOptions:
      ingestDelay: 0s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions:
    - value: metric.labels.memory_type
  - value: container.googleapis.com/container/memory/page_fault_count
    id: cloud.gcp.container_googleapis_com.container.memory.page_fault_count
    type: count,delta
    name: Page faults
    unit: '1'
    gcpOptions:
      ingestDelay: 360s
      samplePeriod: 60s
      valueType: INT64
      metricKind: DELTA
    dimensions:
    - value: metric.labels.fault_type
  - value: container.googleapis.com/container/pid_limit
    id: cloud.gcp.container_googleapis_com.container.pid_limit
    type: gauge
    name: PID capacity
    unit: '1'
    gcpOptions:
      ingestDelay: 0s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: container.googleapis.com/container/pid_used
    id: cloud.gcp.container_googleapis_com.container.pid_used
    type: gauge
    name: PID usage
    unit: '1'
    gcpOptions:
      ingestDelay: 0s
      samplePeriod: 60s
      valueType: INT64
      metricKind: GAUGE
    dimensions: []
  - value: container.googleapis.com/container/uptime
    id: cloud.gcp.container_googleapis_com.container.uptime
    type: count,delta
    name: Uptime
    unit: s
    gcpOptions:
      ingestDelay: 0s
      samplePeriod: 60s
      valueType: DOUBLE
      metricKind: CUMULATIVE
    dimensions: []
alerts:
  - path: alerts/gke_container/cpu.utilization.json