id: gke_container
$schema: gcp_schema_v_1_0.json
version: 0.0.1
minDynatraceVersion: 1.199
vars:
 - id: filter_conditions
   displayName: Metric query filter for which metrics should be queried
   type: variables
technology:
  name: Google GKE Container
gcp:
- service: gke_container
  featureSet: default
  gcpMonitoringFilter: var:filter_conditions
  dimensions:
  - value: resource.labels.project_id
    key: project_id
    compatibilityModeOnly: true
  - value: resource.labels.project_id
    key: gcp.project.id
  - value: resource.labels.cluster_name
    key: cluster_name
  - value: resource.labels.namespace_id
    key: namespace_id
  - value: resource.labels.instance_id
    key: instance_id
  - value: resource.labels.pod_id
    key: pod_id
  - value: resource.labels.container_name
    key: container_name
    compatibilityModeOnly: false
  - value: resource.labels.container_name
    key: gcp.instance.name
  - value: resource.labels.zone
    key: zone
    compatibilityModeOnly: true
  - value: resource.labels.zone
    key: gcp.region
  metrics:
  - value: container.googleapis.com/container/accelerator/duty_cycle
    key: cloud.gcp.container_googleapis_com.container.accelerator.duty_cycle
    type: gauge
    name: Accelerator duty cycle
    gcpOptions:
      ingestDelay: 0
      samplePeriod: 60
      valueType: INT64
      metricKind: GAUGE
      unit: '1'
    dimensions:
    - value: metric.labels.make
    - value: metric.labels.accelerator_id
    - value: metric.labels.model
  - value: container.googleapis.com/container/accelerator/memory_total
    key: cloud.gcp.container_googleapis_com.container.accelerator.memory_total
    type: gauge
    name: Accelerator memory total
    gcpOptions:
      ingestDelay: 0
      samplePeriod: 60
      valueType: INT64
      metricKind: GAUGE
      unit: By
    dimensions:
    - value: metric.labels.make
    - value: metric.labels.accelerator_id
    - value: metric.labels.model
  - value: container.googleapis.com/container/accelerator/memory_used
    key: cloud.gcp.container_googleapis_com.container.accelerator.memory_used
    type: gauge
    name: Accelerator memory used
    gcpOptions:
      ingestDelay: 0
      samplePeriod: 60
      valueType: INT64
      metricKind: GAUGE
      unit: By
    dimensions:
    - value: metric.labels.make
    - value: metric.labels.accelerator_id
    - value: metric.labels.model
  - value: container.googleapis.com/container/accelerator/request
    key: cloud.gcp.container_googleapis_com.container.accelerator.request
    type: gauge
    name: Request accelerators
    gcpOptions:
      ingestDelay: 0
      samplePeriod: 60
      valueType: INT64
      metricKind: GAUGE
      unit: '{devices}'
    dimensions:
    - value: metric.labels.resource_name
  - value: container.googleapis.com/container/cpu/reserved_cores
    key: cloud.gcp.container_googleapis_com.container.cpu.reserved_cores
    type: gauge
    name: Reserved cores
    gcpOptions:
      ingestDelay: 0
      samplePeriod: 60
      valueType: DOUBLE
      metricKind: GAUGE
      unit: '1'
    dimensions: []
  - value: container.googleapis.com/container/cpu/usage_time
    key: cloud.gcp.container_googleapis_com.container.cpu.usage_time
    type: count,delta
    name: CPU usage
    gcpOptions:
      ingestDelay: 0
      samplePeriod: 60
      valueType: DOUBLE
      metricKind: CUMULATIVE
      unit: s{CPU}
    dimensions: []
  - value: container.googleapis.com/container/cpu/utilization
    key: cloud.gcp.container_googleapis_com.container.cpu.utilization
    type: gauge
    name: CPU utilization
    gcpOptions:
      ingestDelay: 360
      samplePeriod: 60
      valueType: DOUBLE
      metricKind: GAUGE
      unit: 10^2.%
    dimensions: []
  - value: container.googleapis.com/container/disk/bytes_total
    key: cloud.gcp.container_googleapis_com.container.disk.bytes_total
    type: gauge
    name: Disk capacity
    gcpOptions:
      ingestDelay: 0
      samplePeriod: 60
      valueType: INT64
      metricKind: GAUGE
      unit: By
    dimensions:
    - value: metric.labels.device_name
  - value: container.googleapis.com/container/disk/bytes_used
    key: cloud.gcp.container_googleapis_com.container.disk.bytes_used
    type: gauge
    name: Disk usage
    gcpOptions:
      ingestDelay: 0
      samplePeriod: 60
      valueType: INT64
      metricKind: GAUGE
      unit: By
    dimensions:
    - value: metric.labels.device_name
  - value: container.googleapis.com/container/disk/inodes_free
    key: cloud.gcp.container_googleapis_com.container.disk.inodes_free
    type: gauge
    name: Inode free
    gcpOptions:
      ingestDelay: 0
      samplePeriod: 60
      valueType: INT64
      metricKind: GAUGE
      unit: '1'
    dimensions:
    - value: metric.labels.device_name
  - value: container.googleapis.com/container/disk/inodes_total
    key: cloud.gcp.container_googleapis_com.container.disk.inodes_total
    type: gauge
    name: Inode capacity
    gcpOptions:
      ingestDelay: 0
      samplePeriod: 60
      valueType: INT64
      metricKind: GAUGE
      unit: '1'
    dimensions:
    - value: metric.labels.device_name
  - value: container.googleapis.com/container/memory/bytes_total
    key: cloud.gcp.container_googleapis_com.container.memory.bytes_total
    type: gauge
    name: Memory limit
    gcpOptions:
      ingestDelay: 0
      samplePeriod: 60
      valueType: INT64
      metricKind: GAUGE
      unit: By
    dimensions: []
  - value: container.googleapis.com/container/memory/bytes_used
    key: cloud.gcp.container_googleapis_com.container.memory.bytes_used
    type: gauge
    name: Memory usage
    gcpOptions:
      ingestDelay: 0
      samplePeriod: 60
      valueType: INT64
      metricKind: GAUGE
      unit: By
    dimensions:
    - value: metric.labels.memory_type
  - value: container.googleapis.com/container/memory/page_fault_count
    key: cloud.gcp.container_googleapis_com.container.memory.page_fault_count
    type: count,delta
    name: Page faults
    gcpOptions:
      ingestDelay: 360
      samplePeriod: 60
      valueType: INT64
      metricKind: DELTA
      unit: '1'
    dimensions:
    - value: metric.labels.fault_type
  - value: container.googleapis.com/container/pid_limit
    key: cloud.gcp.container_googleapis_com.container.pid_limit
    type: gauge
    name: PID capacity
    gcpOptions:
      ingestDelay: 0
      samplePeriod: 60
      valueType: INT64
      metricKind: GAUGE
      unit: '1'
    dimensions: []
  - value: container.googleapis.com/container/pid_used
    key: cloud.gcp.container_googleapis_com.container.pid_used
    type: gauge
    name: PID usage
    gcpOptions:
      ingestDelay: 0
      samplePeriod: 60
      valueType: INT64
      metricKind: GAUGE
      unit: '1'
    dimensions: []
  - value: container.googleapis.com/container/uptime
    key: cloud.gcp.container_googleapis_com.container.uptime
    type: count,delta
    name: Uptime
    gcpOptions:
      ingestDelay: 0
      samplePeriod: 60
      valueType: DOUBLE
      metricKind: CUMULATIVE
      unit: s
    dimensions: []
alerts:
  - path: alerts/gke_container/cpu.utilization.json