setuptools==80.0.0
# metrics
aiohttp==3.11.18
aiodns==3.2.0
mmh3==5.1.0
PyJWT==2.10.1
cryptography==44.0.2
PyYAML==6.0.2
# logs
python-dateutil==2.9.0.post0
jmespath==1.0.1
pytz==2025.2
ciso8601==2.3.2